@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Gruppo&display=swap");
:root {
  --peg-blue: #1ecbe1;
  --peg-green: #15ea48;
  --peg-yellow: #e1ec13;
  --peg-red: #f1200e;
  --peg-orange: #fa6805;
  --peg-purple: #ee11a4;
  --peg-brown: #6d2e09;
  --peg-black: #373338;
  --flag-white: #ddd7fc;
  --flag-red: #f2080b;
}

html {
  font-family: "Gruppo", monospace, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-65deg, var(--peg-blue), var(--peg-yellow));
}
/*Main container - wrapper*/
.main-wrapper {
  padding: 2rem;
  border: 3px solid black;

  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
}
/*Header*/
.header-section {
  /*Grid-area*/
  /*row-start/column-start/row-end/column-end:*/
  grid-area: 1 / 1 / 2 / 3;
}
.header-title {
  font-family: "Expletus Sans", "Gruppo", monospace;
  font-size: 3rem;
}

.high-score-display {
  grid-area: 2 / 2 / 3 / 3;
}
/*COLOR PICKER*/
.color-picker-display {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-choice {
  height: 2rem;
  width: 2rem;
  border: 3px solid black;
  border-radius: 100%;
}
